How many injuries in this dataset involve a skateboard?
Of those injuries, what percentage were male and what percentage were female?
What was the average age of someone injured in an incident involving a skateboard?

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [7]:
mainData=pd.read_csv("C:\\Users\\rober\\Downloads\\IndeedBIHomework (1) (1) (1) (1) (1) (1) (2)\\BIHomework\\NEISS2014.csv")
bodyParts=pd.read_csv("C:\\Users\\rober\\\Downloads\\IndeedBIHomework (1) (1) (1) (1) (1) (1) (2)\\BIHomework\\BodyParts.csv")

In [9]:
df1.head()

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
0,141200216,10/23/14,63,99.704,M,21,Female,None listed,NaN,62,NaN,75,1,1,0,679,1807.0,21YOF LAYING ON THE COUCH AND ROLLED OFF TO TH...
1,140117851,1/4/14,63,81.576,M,62,Female,White,NaN,57,NaN,79,1,1,0,1807,115.0,62YOF TRIPPED OVER THE CORD FOR THE VACUUM CLE...
2,150144993,8/17/14,63,99.704,M,21,Female,None listed,NaN,57,NaN,83,1,0,0,1333,NaN,21YOF FELL OFF A SKATEBOARD AND FRACTURED FOOT
3,150230176,7/27/14,63,99.704,M,30,Female,None listed,NaN,64,NaN,79,1,1,0,4076,NaN,30YOF TRYING TO GET OUT OF BED AND FELT A POP ...
4,141220717,9/8/14,63,99.704,M,16,Male,None listed,NaN,57,NaN,82,1,0,0,1893,NaN,16YOM HAD HAND SLAMMED IN A DOOR FRACTURED HAND

In [10]:
bodyParts.head()

     BodyPart  Code
0  Arm, lower    33
1  Arm, upper    80
2       Ankle    37
3         Ear    94
4       Elbow    32

In [14]:
skateboards=mainData[(mainData['prod1']==1333)|(mainData['prod2']==1333)]
skateboards.head()

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
2,150144993,8/17/14,63,99.7040,M,21,Female,None listed,NaN,57,NaN,83,1,0,0,1333,NaN,21YOF FELL OFF A SKATEBOARD AND FRACTURED FOOT
39,140505206,4/25/14,63,81.5760,M,14,Male,White,NaN,57,NaN,33,1,0,0,1333,NaN,14YOM FELL WHILE SKATEBOARDING AND FRACTURED L...
166,140851075,5/25/14,14,41.0402,M,14,Male,White,NaN,64,NaN,37,1,9,0,1842,1333.0,14YOM PT TRYING TO JUMP 5 STEPS ON A SKATEBOA...
292,140735930,7/13/14,90,5.7174,C,15,Female,White,NaN,62,NaN,75,1,0,0,1333,NaN,15 YOF FELL OFF A LONG BOARD & HIT HEAD- UNHEL...
320,140735911,7/13/14,90,5.7174,C,5,Male,Black/African American,NaN,53,NaN,76,1,5,0,1333,NaN,"5 YOM WAS SITTING ON A SKATEBOARD & FELL OVER,..."

In [24]:
print('Num of skateboard accidents: '+str(len(skateboards))) #len of the dataframe will give number of skateboard accidents

Num of skateboard accidents: 495

In [29]:
groupedBySex=skateboards.groupby(['sex'])['sex'].agg(['count']).reset_index()

In [30]:
groupedBySex

      sex  count
0  Female     89
1    Male    406

In [33]:
groupedBySex['Percentage']=round((groupedBySex['count']/len(skateboards))*100,2)

In [34]:
groupedBySex

      sex  count  Percentage
0  Female     89       17.98
1    Male    406       82.02

In [41]:
averageAge=round(skateboards['age'].mean())

In [42]:
print('The average age of a skateboard injury is: '+str(averageAge))

The average age of a skateboard injury is: 18